body {
    font-family: 'Calibri', sans-serif;
}

.main-block {
    width: 300px;
    height: 150px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.main-block-message {
    font-size: 23px;
}
